* {
  background-color: rgb(228, 221, 221);
  margin: 10px;
  padding: 0px;
}

.contenedor {
  background: black;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-template-areas: "container-1"
                      " madrelarga";
    align-items: center; */
}
.container-1 {
  /*     
    padding: 10px;
    width: 90%;
    max-width:1000px;
    margin: 20px auto; */
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px;
  background: grey;
  grid-template-areas:
    " one two three"
    " larga larga larga";
  /* /* justify-content: space-between;
    align-content: space-between;

    align-items: center; */
}

.one,
.two,
.three,
.madrelarga,
.amna {
  /* margin: 10px; */
  /* grid-area: one; */
  background: orange;
  min-height: 20px;
  /* justify-self: stretch; */
  /* align-self: center; */
}

.larga {
  grid-area: larga;
  background: yellow;
  min-height: 20px;
  /* margin: 20px; */
}

.container-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background: rgb(19, 18, 18);
  grid-template-areas: "gris  rojo";
}

.rojo {
  display: grid;
  grid-area: rojo;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;

  background: red;
  height: 85%;
}
.am,
.am1 {
  display: grid;
  background: yellow;
  height: 60%;
  align-self: start;
}

.gris {
  background: grey;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "celeste celeste1"
    "celeste2 celeste3"
    "celeste4 celeste4";
}

.celeste,
.celeste1 {
  background: rgb(116, 173, 223);
  height: 20px;
}

.container-2 .celeste4 {
  background: rgb(99, 74, 226);
  grid-column: 1/3;
}
.celeste2,
.celeste3 {
  background: rgb(41, 146, 238);
}
.container-3 {
  display: grid;
  grid-template-columns: 1fr;
  background: black;
  height: 40px;
}

@media screen and (max-width: 1004px) {
  .container-2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "gris"
      "rojo";
    background: yellow;
  }
}

@media screen and (max-width: 520px) {
  .contenedor {
    height: 500px;
    padding: 20px;
  }
  .container-1 {
    margin: 20px;
    height: 240px;
    padding: 30px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: rgb(44, 62, 92);
    grid-template-areas:
      " one "
      "two"
      "three";
    grid-template-rows: 1fr 1fr 1fr;
  }
  .one,
  .two,
  .three {
    height: 45px;
    background: rgb(240, 77, 99);
  }
  .madrelarga {
    margin: 20px;
    padding: 20px;
    align-self: center;

    background: rgb(222, 127, 18);
  }
  .larga {
    margin: 15px;
    background: rgb(244, 207, 98);
    height: 45px;
  }

  .container-2 {
   
    height: auto;
    margin: 10px;
    grid-template-areas:
      "gris"
      "rojo";
  }

  .gris {
    margin: 30px;
    background: rgb(46, 98, 154);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
      "celeste"
      "celeste1"
      "celeste2"
      "celeste3"
      "celeste4";
  }

  /* .celeste,
  .celeste1,
  .celeste2,
  .celeste3,
  .celeste4 {
    margin: 20px;
    height: 25px;
    margin: 15px;
    padding: 10px;
    background: white;
  } */

  .rojo {
    background: rgb(236, 140, 75);
    height: 100px;
    padding: 20px;
    margin: 5px 30px 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "am"
      "am1";
  }
  .am,
  .am1 {
    height: 10px;
    margin: 10px;
    padding: 10px;
    grid-gap: 10px;
    background: rgb(241, 193, 90);
  }
  .container-3 {
    height: auto;
    padding: 20px;
  }

  .amna {
    grid-gap: 20px;
    padding: 5px;
    height: 20px;
  }
}
