*{
background-color: rgb(228, 221, 221);
margin: 10px;
padding: 0px;
}

.contenedor{
    background: black;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-areas: "container-1"
                      " madrelarga";
    align-items: center; */
    
}
.container-1 {
/*     
    padding: 10px;
    width: 90%;
    max-width:1000px;
    margin: 20px auto; */
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
    background: grey;
    grid-template-areas: " one two three"
                        " larga larga larga"; 
    /* /* justify-content: space-between;
    align-content: space-between;

    align-items: center; */
}

.one,
.two,
.three,
.madrelarga,
.amna{
    
    /* margin: 10px; */
    /* grid-area: one; */
    background: orange;
    min-height: 20px;
    /* justify-self: stretch; */
    /* align-self: center; */

}


.larga{
     grid-area: larga; 
    background: yellow;
    min-height: 20px;
    /* margin: 20px; */
   
}

.container-2{

   
       
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            background: rgb(19, 18, 18);
            grid-template-areas: "gris  rojo";
           
        }

    .rojo{
        display:grid;
        grid-area: rojo;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 2fr;
        
        background: red;
        height: 85%;

    }
    .am{
        display:grid;
        background:yellow;
        height: 60%;
        align-self: start;
        
    }

    .gris{
        background: grey;
        display:grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "celeste celeste1"
                            "celeste2 celeste 3"
                            "celeste4 celeste4";
    }

    .celeste,
    .celeste1{
        background: rgb(116, 173, 223);
        height:20px;
       
    }
  
    .container-2
    .celeste4{
        
        background: rgb(99, 74, 226);
        grid-column:1/3;
        

    }
    .celeste2,
    .celeste3{
        background: rgb(41, 146, 238);
        
        
    }
    .container-3{
        display:grid;
        grid-template-columns: 1fr;
        background: black;
        height: 40px;
    }


@media screen and (max-width: 768px){

    .container-2{
        grid-template-columns: 1fr;
        grid-template-areas: "gris"
                             "rojo";
        background: yellow;
    }
}
    




